@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Mattone";
  src: url("./fonts/Mattone-150.woff2") format("woff2"),
    url("./fonts/Mattone-150.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  /* font-family: "Satoshi-Variable", sans-serif; */
  scroll-behavior: smooth !important;
  font-family: 'Mona Sans', sans-serif;
}

.line-gap {
  line-height: 120%;
}

.nav_radius {
  border-radius: 24px;
}

.index_bg {
  background-image: url("/indigo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.mattone{
  font-family: 'Mattone', sans-serif;
}

.extended{
  font-stretch: 125%;
}

.markup_blog{
  h1, h2, h3, h4, h5, h6{
    @apply text-blue-500
  }
  h1{
    @apply text-4xl lg:text-6xl bg-blue-950 bg-opacity-60 px-4 py-2 rounded-full
  }
  h2{
    @apply text-2xl lg:text-4xl bg-blue-950 bg-opacity-60 px-4 py-2 rounded-full
  }
  h3{
    @apply text-xl lg:text-2xl
  }
  h4{
    @apply text-lg lg:text-xl
  }
  h5{
    @apply text-base lg:text-lg
  }
  html{
    @apply w-full
  }
  p{
    @apply w-full min-w-full 
  }
  img{
    @apply w-full lg:w-1/2 self-center
  }
}